html {
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .heading01-after-bg {
    --green03: theme('colors.green03');
    --accent: theme('colors.accent');
    background: linear-gradient(
      90deg,
      var(--green03) 0%,
      var(--green03) 50%,
      var(--accent) 50%,
      var(--accent) 100%
    );
  }

  .heading03-after-bg {
    --green03: theme('colors.green03');
    --accent: theme('colors.accent');
    background: linear-gradient(
      90deg,
      var(--accent) 0%,
      var(--accent) 20%,
      var(--green03) 20%,
      var(--green03) 100%
    );
  }

  .deco-bg {
    --green03: theme('colors.green03');
    --accent: theme('colors.accent');
    background: linear-gradient(
      90deg,
      var(--green03) 0%,
      var(--green03) 50%,
      var(--accent) 50%,
      var(--accent) 100%
    );
  }

  .card-grid-template {
    grid-template:
      'ttl ttl ttl' auto
      'img body body' auto / 26% auto auto;
  }

  .top-message-grid-template {
    grid-template:
      'message message' auto
      'img info' auto / 42.5% 57.5%;
  }

  .marker {
    background: linear-gradient(transparent 70%, theme('colors.accent_65') 70%);
  }
}
